<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"> {{ title}} </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="mb-3" *ngFor="let field of formConfig">
          <label [for]="field.name" class="form-label">{{ field.label }}
            <span class="asterisk" *ngIf="field?.required">*</span>
          </label>

          <ng-container [ngSwitch]="field.type">
            <!-- Input Field -->

            <div *ngSwitchCase="'input'">
              <input class="form-control" [type]="field.inputType || 'text'" [id]="field.name"
                [formControlName]="field.name" />

              <span class="text-danger" role="alert"
                *ngIf="form?.get(field.name)?.errors?.['required'] && form?.controls[field?.name]?.touched"> Required
                field
              </span>
            </div>


            <!-- Select Dropdown -->
            <div *ngSwitchCase="'select'" class="example-block__item">
              <ngx-select class="form-select" [items]="field?.isFilterNeeded ? filteredOptions: field.options"
                [id]="field.name" [optionValueField]="field.id" [optionTextField]="field.text"
                [formControlName]="field.name" (selectionChanges)="doSelectOptions($event, field?.name)"></ngx-select>
              <span class="text-danger" role="alert"
                *ngIf="form?.get(field.name)?.errors?.['required'] && form?.controls[field?.name]?.touched"> Required
                field
              </span>
            </div>

            <!-- Multi-Select Dropdown -->
            <div *ngSwitchCase="'multi-select'">
              <ngx-select class="form-select" [items]="field.options" [multiple]="true" [id]="field.name"
                [formControlName]="field.name"></ngx-select>
              <span class="text-danger" role="alert"
                *ngIf="form?.get(field.name)?.errors?.['required'] && form?.controls[field?.name]?.touched"> Required
                field
              </span>
            </div>


            <div *ngIf="field.type === 'radio-group'">
              <div *ngFor="let option of field.options" class="form-check">
                <input [id]="option.value" [value]="option.value" type="radio" [formControlName]="field.name"
                  class="form-check-input" />
                <label [for]="option.value" class="form-check-label">{{ option.label }}</label>
              </div>
              <span class="text-danger" role="alert"
                *ngIf="form?.get(field.name)?.errors?.['required'] && form?.controls[field?.name]?.touched"> Required
                field
              </span>
            </div>

            <div *ngIf="field.type === 'file-upload'">
              <div ng2FileDrop (fileOver)="fileOverBase($event)" [uploader]="uploader" (click)="triggerFileSelect()"
                class="drop-zone">
                <p>Drag and drop files here, or click to select files.</p>
              </div>

              <span class="text-danger" role="alert"
                *ngIf="form?.get(field.name)?.errors?.['required'] && form?.controls[field?.name]?.touched"> Required
                field
              </span>
              <!-- Hidden file input for opening the file dialog -->
              <input type="file" ng2FileSelect [uploader]="uploader" class="d-none" #fileInput />
            </div>

          </ng-container>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
    </div>
  </div>
</div>